/* Hide the WebGazer video feed */
video#webgazerVideoFeed {
    display: none;
}

#webgazerGazeDot{
    display: none !important;
    
}

#plotting_canvas {
    position: relative; /* Set canvas position to relative */
    z-index: 0; /* Set canvas z-index to 0 */
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255); /* Change the color and opacity as needed */
    z-index: 3; /* Ensure the cover is above other content */
}

#webgazerNavbar {
    position: fixed; /* Fixed position to keep it at the top */
    top: 0; /* Position it at the top of the viewport */
    margin-left: -18%;
    width: 93%; /* Make it full width */
    z-index: 2; /* Set a higher z-index to keep it above the main content */
    border: none;
    box-shadow: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5; /* Set a lower z-index to keep it below the cover */
    margin-top: 0%;
    box-shadow: 0px 0px 0px #ffffff;
    height: 9%;
}

#Accuracy{
    border-radius: 60px; /* Border radius */
    padding: 10px 10px; /* Padding */
    color: #fff;
    font-size: 1.5em;
    margin-left: 3%;
}

.navbar-nav {
    position: relative; /* Ensure the parent container has a relative position */
}

.navbar-nav li:nth-child(2) a {
    color: #000000; /* Text color */
    background-color: #ffffff; /* Background color */
    padding: 10px 40px; /* Padding */
    border-radius: 50px; /* Border radius */
    border: 2px solid #000000; /* Border style */
    text-decoration: none; /* Remove underline */
    font-size: 1.5em;
    position: absolute; /* Use absolute positioning */
    top: 0px; /* Adjust this value to move the element higher */
    left: 330%; /* Adjust left position if needed */
}

.navbar-nav li:nth-child(2) a:hover {
    background-color: #000000; /* Change background color on hover */
    color:#fff;
}

.modal-dialog{
    width:100%;
    height:100%;
    background-color: #fff;
}

.modal-content{
    width:120vw;
    height:120vh;
    left:-35vw;
    top:-4.5vh;
    display: block;

}

#introduction{
    font-family: 'OwnersText';
    font-size: 5.5em;
    margin-left:3%;
}

.swal-modal{
    width:100vw;
    height:100vh;
    top: 0%; /* 10% of the viewport height */
    margin-top: 5%; /* 5% of the viewport height */
    transform: translateY(-10%);
}

.modal-footer{
    width:100vw;
    height:100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center; /* Center the button horizontally */
}

#start_calibration{
    margin-top: -25%;
    margin-left: 70%;
}

.btn-primary {
    width: 30vh; /* Set both width and height to the same value */
    height: 30vh;
    color: #000000; /* Text color */
    background-color: yellow; /* Yellow background color */
    border-radius: 50%; /* Make it a circle */
    border: 2px solid #000000; /* Border style */
    font-size: 2.8em;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    cursor: pointer; /* Change cursor on hover */
    outline: none; /* Remove outline */
    text-decoration: none; /* Remove underline */
    margin-top: -10%;
}

.btn-primary:hover {
    background-color: rgb(0, 0, 0); /* Change background color on hover */
    color: yellow;
}


.steps{
    width: 80%;
    margin-left:-14%;
}

#step-1{
    font-family: 'OwnersText';
    font-size: 3em;
    margin-left:0%;
}

#step-2{
    font-family: 'OwnersText';
    font-size: 3em;
    margin-left:0%;
    margin-top: 2%;
}

.swal-button-container{
    left:-50%;
}

.swal-title{
    font-family: 'OwnersText';
    font-size: 5.5rem;
    height:10vh;
    margin-left:-55%;
}

.swal-text{
    font-family: 'OwnersText';
    font-size: 4rem;
    margin-top: 3%;
    width: 90%;
    margin-left: -3%;
}

.swal-button{
    background-color: yellow;
    font-family: 'OwnersText';
    font-size: 4rem;
    color:#000000;
    border-radius: 50%; /* Make it a circle */
    height:25vh;
    width:25vh;
    margin-left: 300%;
    margin-top: 0%;
    border: 2px solid #000000; /* Border style */
}


.custom-swal-popup2 .swal-button:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.custom-swal-popup2 .swal-title {
    font-family: 'OwnersText';
    font-size: 5.5rem;
    height:10vh;
    margin-left:-25%;
}


.main-container {
    position: absolute; /* Set main container position to absolute */
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the left */
    width: 100%; /* Make it full width */
    height: 100%; /* Make it full height */
    z-index: 1; /* Set main container z-index above canvas */
    background-color: rgb(255, 255, 255); /* Adjust background color as needed */
    margin-bottom:0;
}

.headline-container {
    width: 93%;
    height: 70%; /* Change height to auto to allow for dynamic height based on content */
    margin-left: 3.5%;
    line-height: .1;
    padding: 0%;
    margin-top: 5%;
    background-color: #ffffff;
    font-family: 'OwnersText';
    transition: font-size 0.3s ease; /* Add transition effect for font size */
    display: flex; /* Use flexbox layout */
    flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
    align-items: center; /* Align items vertically in the center */
    position:absolute;
}

.headline-item {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically in the center */
    padding: 20px; /* Adjust padding as needed */
}

.headline-item p {
    /* position: absolute; */ /* Remove absolute positioning */
    color: #000000;
    /* top: 0; */ /* Remove top positioning */
    /* left: 0; */ /* Remove left positioning */
    /* white-space: nowrap; Prevent wrapping */
}

/* Styling for the paragraphs inside the headline container */
.headline-container p {
    font-size: 1.5em; 
    color: #000000;
    margin: 0; /* Remove default margin */
    white-space: normal; /* Allow wrapping onto multiple lines */
}

.title-container{
    margin-top:0%;
    height:18%;
    position: relative;
}

/* Styling for the headline */
.title{
    font-size: 7.5em; 
    color: #000000;
    font-family: 'OwnersText';
    line-height: 0.5;
    margin-top: 44%;
    margin-left:3%;
    margin-bottom:0;
}

.circle-i{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
    margin-left:12.5%;
    margin-top:-1.2%;
    z-index: 2;
    position:absolute;
}

.headline-container p.increased-font {
    font-size: 2em; /* Define the increased font size */
}

.increased-font {
    font-size: 24pt; /* Adjust font size as needed */
}

.headline-wrapper {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically in the center */
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
    margin-left: 15px; /* Adjust margin as needed */
    margin-right: -25px;
}


/* Hide the WebGazer video container */
#webgazerVideoContainer {
    display: none !important;
}

@media (max-width: 375px) {
   #webgazerNavbar {
        top: 0; /* Position it at the top of the viewport */
        margin-left: 0;
        width: 100%; /* Make it full width */
    }
    
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        margin-top: 0%;
        box-shadow: 0px 0px 0px #ffffff;
        height: 9%;
    }
    
    #Accuracy{
        border-radius: 60px; /* Border radius */
        padding: 10px 10px; /* Padding */
        color: #fff;
        font-size: 1.5em;
        margin-left: 3%;
    }
    
    .navbar-nav {
        position: relative; /* Ensure the parent container has a relative position */
    }
    
    .navbar-nav li:nth-child(2) a {
        color: #000000; /* Text color */
        background-color: #ffffff; /* Background color */
        padding: 10px 40px; /* Padding */
        border-radius: 50px; /* Border radius */
        border: 2px solid #000000; /* Border style */
        text-decoration: none; /* Remove underline */
        font-size: 1.5em;
        left: 200%;
        position: absolute; /* Use absolute positioning */
        top: 0px; /* Adjust this value to move the element higher */
    }
    
    .navbar-nav li:nth-child(2) a:hover {
        background-color: #000000; /* Change background color on hover */
        color:#fff;
    }

    .modal-content{
        width:100%;
        height:100%;
        left:0vw;
        top:0vh;
    }

    .modal-dialog{
        width:100%;
        height:100%;
        background-color: #fff;
    }

    #introduction{
        font-size: 2.5em;
        margin-left:3%;
    }

    .btn-primary {
        width: 30vh; /* Set both width and height to the same value */
        height: 30vh;
        font-size: 2.8em;
        display: flex; /* Use flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        cursor: pointer; /* Change cursor on hover */
        outline: none; /* Remove outline */
        text-decoration: none; /* Remove underline */
        margin-top: 250%;
    }

    #start_calibration{
        margin: 40%;
        margin-left: 150%;
    }

    .steps{
        width: 80%;
        margin-left:-14%;
        margin-top: 5%;
    }
    
    #step-1{
        font-family: 'OwnersText';
        font-size: 1.5em;
        margin-left:0%;
    }
    
    #step-2{
        font-family: 'OwnersText';
        font-size: 1.5em;
        margin-left:0%;
        margin-top: 2%;
    }
    .cover {
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255); /* Change the color and opacity as needed */
        z-index: 3; /* Ensure the cover is above other content */
    }
    .swal-button-container{
        left:0%;
        margin-left: 0%;
        background-color: white;
    }

    .swal-modal {
        width: 100%;
    }
    
    .swal-title{
        font-size: 3.5rem;
        height:10vh;
        margin-left:-30%;
    }
    
    .swal-text{
        font-family: 'OwnersText';
        font-size: 2rem;
        margin-top: 3%;
        margin-left: -10%;
        width:80%;
    }
    
    .swal-button{
        background-color: yellow;
        font-family: 'OwnersText';
        font-size: 4rem;
        color:#000000;
        border-radius: 50%; /* Make it a circle */
        height:25vh;
        width:25vh;
        margin-top: 0%;
        margin-left:-800%;
    }
    
    .custom-swal-popup2 .swal-title {
        font-size: 5.5rem;
        height:10vh;
        margin-left:5%;
    }
    
    
    .main-container {
        position: absolute; /* Set main container position to absolute */
        top: 0; /* Position it at the top */
        left: 0; /* Position it at the left */
        width: 100%; /* Make it full width */
        height: 100%; /* Make it full height */
        z-index: 1; /* Set main container z-index above canvas */
        background-color: rgb(255, 255, 255); /* Adjust background color as needed */
        margin-bottom:0;
    }
    
    .headline-container {
        width: 93%;
        height: 70%; /* Change height to auto to allow for dynamic height based on content */
        margin-left: 0%;
        line-height: .1;
        padding: 0%;
        margin-top: 5%;
        background-color: #ffffff;
        font-family: 'OwnersText';
        transition: font-size 0.3s ease; /* Add transition effect for font size */
        align-items: center; /* Align items vertically in the center */
        position:absolute;
    }
    
    .headline-item {
        display: flex; /* Use flexbox layout */
        align-items: center; /* Align items vertically in the center */
        padding: 20px; /* Adjust padding as needed */
    }
    
    .headline-item p {
        /* position: absolute; */ /* Remove absolute positioning */
        color: #000000;
        /* top: 0; */ /* Remove top positioning */
        /* left: 0; */ /* Remove left positioning */
        /* white-space: nowrap; Prevent wrapping */
    }
    
    /* Styling for the paragraphs inside the headline container */
    .headline-container p {
        font-size: 1.5em; 
        color: #000000;
        margin: 0; /* Remove default margin */
        white-space: normal; /* Allow wrapping onto multiple lines */
    }
    
    .title-container{
        margin-top:-10%;
        height:18%;
        position: relative;
    }
    
    /* Styling for the headline */
    .title{
        font-size: 7.5em; 
        color: #000000;
        font-family: 'OwnersText';
        line-height: 0.5;
        margin-top: 44%;
        margin-left:3%;
        margin-bottom:0;
    }
    
    .circle-i{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: yellow;
        margin-left:12.5%;
        margin-top:-1.2%;
        z-index: 2;
        position:absolute;
    }
    
    .headline-container p.increased-font {
        font-size: 2em; /* Define the increased font size */
    }
    
    .increased-font {
        font-size: 24pt; /* Adjust font size as needed */
    }
    
    .headline-wrapper {
        display: flex; /* Use flexbox layout */
        align-items: center; /* Align items vertically in the center */
    }
    
    .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: yellow;
        margin-left: 15px; /* Adjust margin as needed */
        margin-right: -25px;
    }
    
}

/* Define the OwnersText font */
@font-face {
    font-family: 'OwnersText';
    src: url('./assets/OwnersText-Regular.woff') format('woff');
}
